<h2>Fifth component</h2>

<div [style.background-color] = "bgColor" class="box"></div>

<button (click)="changeColor('red')" class="bnt btn-success">Red</button>
<button (click)="changeColor('blue')" class="bnt btn-success">Blue</button>
<button (click)="changeColor('yellow')" class="bnt btn-success">Yellow</button>
<button (click)="changeColor('green')" class="bnt btn-success">green</button>
<button (click)="changeColor('pink')" class="bnt btn-success">pink</button>
<button (click)="changeColor('orange')" class="bnt btn-success">orange</button>